:root {
  --main-color: #880e4f;
  --accent-color: #fb8c00;
  --bg-color: #faeee0;
  --light-color: #bc477b;
  --title-font: 'Trochut', cursive;
  --body-font: 'Zilla Slab', serif;
  background-color: var(--bg-color);
}
.body {
  font-family: var(--body-font);
  background-color: var(--bg-color);
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
